* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: #1a1a1a;
}

.card {
  display: flex;
  background-color: rgb(63, 62, 62);
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 500px;
  height: 200px;
  border: 2px solid white;
  border-radius: 15px;
  gap: 20px;
}

.row_one {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px;
  width: 100%;
  height: 45px;
}

.text_box {
  border-radius: 10px;
}

.copy_btn {
  border-radius: 10px;
}

.row_two {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 20px;
}