.title {
  color: yellow;
}

.nav {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  height: 50px;
  grid-area: nav;
}

.option_List {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-right: 40px;
  height: 100%;
  width: 150px;
}

a {
  text-decoration: none;
  color: black;
}

.option {
  padding: 5px;
  border-radius: 8px;
}

.option:hover {
  background-color: rgb(87, 87, 235);
}

.image {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 40px;
  height: 100%;
  width: 150px;

}

.profile {
  width: 35px;
  height: 35px;
  background-color: rgb(135, 133, 133);
  border-radius: 50%;
}

.footer {
  background-color: white;
  color: black;
  grid-area: footer;

}

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 60px;

  grid-template-areas:
    "nav nav"
    "content content"
    "footer footer";

  height: 100vh;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.text {
  text-align: justify;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login,
.Sign_up {
  border: 2px solid black;
  border-radius: 5px;
}